* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
/* Header*/
header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 10%;
}
header h4 {
  transition: 0.5s ease;
}
header a {
  color: white;
  text-decoration: none;
}
#addAlarmBtn {
  position: absolute;
  top: 75%;
  left: 11%;
}
.sectionSelected {
  font-size: 200%;
}
/* main*/
main {
  background-color: grey;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock h1 {
  font-size: 2000%;
}
/* alarms*/
.newAlarm {
  position: absolute;
  background-color: rgb(204, 203, 203, 0.5);
  left: 2%;
  top: 10%;
  height: 20%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  transition: 0.5s ease;
  overflow: hidden;
}
#arrow {
  font-size: 80%;
}
/* style for the new alarms input*/
.newAlarms {
  width: 20%;
  height: 40%;
}
.setAlarm {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Add {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnAdd {
  width: 30%;
  padding: 3%;
}
#alarms {
  background-color: grey;
  height: 80%;
  width: 80%;
}
.alarm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  border-bottom: 2px solid rgb(189, 189, 189);
  font-size: 200%;
}
.separate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  margin-right: 10%;
}
.hourMargin {
  margin-left: 13%;
}
.white {
  color: white;
  transition: 0.5s ease;
}
.lightergrey {
  color: rgb(189, 189, 189);
  transition: 0.5s ease;
}
.red {
  background-color: rgb(173, 68, 42);
  border: none;
  transition: 1s ease;
}
/* alarm switch*/
.switch {
  border: 2px solid rgb(189, 189, 189);
  width: 25%;
  height: 40%;
  margin-right: 20%;
  background-color: rgb(0, 255, 42);
  display: flex;
  justify-content: left;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s ease;
}
.greenSwitch {
  background-color: white;
  width: 55%;
  border-radius: 20px;
  transform: translateX(0);
  transition: 0.5s ease;
}
.redSwitch {
  background-color: white;
  width: 55%;
  border-radius: 20px;
  transition: 0.5s ease;
}
.switchRight {
  transform: translate(85%);
}
.switchBcg {
  background-color: rgb(189, 189, 189);
}
/* class for hiding */
.hide {
  display: none;
}
.hideMenu {
  height: 0;
}
